.bgImage {
  background-image: url("/assets/images/main-image-try.jpg");
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 65vh;
}
.textAndActions {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;

  text-align: center;
  padding: 1.5rem 6rem;
}

@media (max-width: 640px) {
  .bgImage {
    background-image: url("/assets/images/main-image-m-try1.jpg");
    background-position: 60% 50%;
    height: 60vh;
  }
  .textAndActions {
    padding: 2.5rem;
  }
}
